<app-main-menu></app-main-menu>
    <div class="container margin-to: 12vh;">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center">
                <img src="../../../assets/img/informes.png" alt="">
                <h1>Informes medicos</h1>
            </div>
            <div class="col-lg-5 text-center">
                <img src="../../../assets/img/agenda-medica.jpg" alt="">
                <h1>Agenda medica</h1>
            </div>
        </div>
    </div>
